apiVersion: v1
kind: Service
metadata:
  name: nodejs-app
  namespace: iacproject
  labels:
    app: nodejs-app
spec:
  type: LoadBalancer
  ports:
  - port: 3000
    targetPort: 3000
    name: http
  - port: 9090
    targetPort: 9090
    name: metrics
  selector:
    app: nodejs-app
